@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body, html{
    font-family: 'Poppins', sans-serif;

#tabHeading{
    color: #FFFFFF;
}

a:link{
    text-decoration: none;
}
#summary-view
{
    display: none;
}
#list-group
{
    list-style-type: none;
}