#createdAdminBtn{
    margin-bottom: 10px;
}

a , a:active, a:visited{
    color: #007bff;
}

.panel-primary>.panel-heading {
background-color: #4169E1;
}

#loginButton { 
background-color: #4169E1;
}

