a
{
    cursor: pointer;
    color: black;
}
#tabHeading
{
    color: #FFFFFF;
}
a:link
{
    text-decoration: none;
}
.navbar
{
    box-shadow: 4px 0px 9px grey;
}
.dynamic_input
{
    margin-bottom: 20px;
}
.panel-body:hover
{
    background: #e3f2fd;
    cursor: pointer;
    text-decoration: none;
}
#summary-view
{
    display: none;
}
#list-group
{
    list-style-type: none;
}
#submit_button
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}