a
{
    cursor: pointer;
    color: inherit;
}
.dynamic_input
{
    margin-bottom: 20px;
}
.panel-body:hover
{
    background: #e3f2fd;
    cursor: pointer;
}
#list-group
{
    list-style-type: none;
}
#submit_button
{
    position: fixed;
    bottom: 0px;
}